In [3]:
import pandas as pd

In [ ]:
pd.read_csv('')

In [5]:
a=1
b='python'
c=[1,2,3]
print(a,b,c)

1 python [1, 2, 3]

In [9]:
a=3
b=4
print(a**b)

81

In [11]:
head='python'   
print(head*2)

pythonpython

In [15]:
food='python\'s favorifte food'

In [16]:
print(food)

python's favorifte food

In [21]:
str2='12345'
print(str2[1])

2

In [38]:
str3='''
안녕하세요.
강윤하입니다.'''

print(str3[0])

In [30]:
str4='python Programming'
print(str4[-11:])
print(str4[7:])

Programming
Programming

In [35]:
text=" '강윤하'입니다. "
print(text)

 '강윤하'입니다.

In [36]:
text2='\'강윤하\'입니다.'
print(text2)

'강윤하'입니다.

In [39]:
text4="나는 \n '강윤하'\n입니다."
print(text4)

나는
 '강윤하'
입니다.

In [45]:
a='hobby'
a.count('b')
print(a.find('o'))
print(a.index('o'))
#

1
1

In [48]:
print(','.join(a))

h,o,b,b,y

In [51]:
print(a.upper())

HOBBY

In [53]:
print (a.lower())

hobby

In [57]:
b='life is short'
b.replace('life','Your leg')

'Your leg is short'

In [61]:
b.split()

['life', 'is', 'short']

In [77]:
a2= ','.join(a)
a3= a2.split(',')
a4= ''.join(a3)
print(a2) 
print(a3)
print(a4)

8,9,0,7,2,4
['8', '9', '0', '7', '2', '4']
890724

In [78]:

#어떤 회원이 생년월일 입력란에 890724를 입력하였을 때, 해당 문자를 89/07/24로 출력하기
a='890724'
print(a[:2]+'/'+a[2:4]+'/'+ a[4:])

89/07/24

In [79]:
#어떤 유통회사의 유통일자가 20190603으로 입력되었을 때, 해당 문자를 2019-06-03으로 출력하기
b='20190603'
print(b[:4]+'-'+b[4:6]+'-'+b[6:])

2019-06-03

In [86]:
#010-1234-5678으로 입력하였을 때, 해당 문자를 01012345678으로 출력하기

c='010-1234-5678'
split_c=c.split('-')
''.join(split_c)

print(c.replace('-',''))

01012345678

In [91]:
list1=[1,2,['life', 'is','short'], 3, 4]
print(list1[2][1])

is

In [95]:
list2=[1,2,3,4]
list3=[5,6,7,8]
print(list2+list3)
list2[1]=9
print(list2)
list3[1:3]=[10,11,12]
print(list3)
list3[1:3]=[]
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 9, 3, 4]
[5, 10, 11, 12, 8]
[5, 12, 8]

In [104]:
print(list2)
list2.sort()
print(list2)

[1, 3, 4, 9]
[1, 3, 4, 9]

In [110]:
list2.reverse()
print(list2)

[9, 4, 3, 1]

In [112]:
list2.index(3)

2

In [129]:
list2.insert(2,10)
list2

[9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 4,
 3,
 1]

In [132]:
list2.append(11)
print(list2)

[9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 4, 3, 1, 11, 11, 11]

In [134]:
list2.pop()

11

In [135]:
print(list2)

[9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 4, 3, 1, 11]

In [137]:
 a, b, c = (1,2,3)
 # a[1]=5

In [140]:
dict1={1:'a'}
dict1[2]='b'
print(dict1)

{1: 'a', 2: 'b'}

In [144]:
del dict1[1]
print (dict1)

KeyError: 1

In [148]:
print(dict1[2])
print(dict1.get(2))

b
b

In [150]:
2 in dict1

True

In [152]:
print (1 in dict1)

False

In [154]:
dict2={'name': 'pey', 'phone': '012345689', 'birth':'0924'}

In [159]:
print(dict2.keys())
print(dict2.values())
print(dict2.items())

dict_keys(['name', 'phone', 'birth'])
dict_values(['pey', '012345689', '0924'])
dict_items([('name', 'pey'), ('phone', '012345689'), ('birth', '0924')])

In [162]:
s2={2,3,4}
print(s2)
s2.update([5,6,7])
print(s2)
s2.remove(7)
s1={1,2,3}

print(s2)

{2, 3, 4}
{2, 3, 4, 5, 6, 7}
{2, 3, 4, 5, 6}

In [167]:
s1={1,2,3}
print (s1)
print(s2)
print(s1&s2)
print ( s1.intersection.s2)

{1, 2, 3}
{2, 3, 4, 5, 6}
{2, 3}

AttributeError: 'builtin_function_or_method' object has no attribute 's2'

In [172]:
print(s1|s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [171]:
print(s1-s2)
print(s1.difference(s2))

{1}
{1}

In [173]:
print(1==1)

True

In [175]:
print(1!=1)

False

In [7]:
A=input("값을 입력하시오: ")
dict={ 'one' : '하나', 'two': '둘', 'three':'셋',  'four' : '넷', 'five': '다섯' }
print (dict[A])

하나

In [8]:
list1 = [1,1,1,1,1,1,2,4,5,6,7,8,9,10]
print(set(list1))

{1, 2, 4, 5, 6, 7, 8, 9, 10}

In [9]:
 letters = 'python'
 print (letters[0],letters[2])

p t

In [13]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [16]:
string = "홀짝홀짝홀짝"
print(string[0],string[2],string[4])
print(string[::2])

홀 홀 홀
홀홀홀

In [21]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [25]:
phone_number = "010-1111-2222"
print(phone_number.replace('-',""))

01011112222

In [27]:
 url = "http://sharebook.kr"
print(url[-2:])

kr

In [28]:
 string = 'abcdfe2a354a32a'
 print(string.replace("a","A"))

Abcdfe2A354A32A

In [29]:
num = "5,969,782,550"
num1=int(num.replace(",",""))
print(num1)

5969782550

In [31]:
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [34]:
ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

In [36]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx"or "xls")

True

In [40]:
a1='hobby'
a2=','.join(a1)
a3=a2.split(',')
a4=''.join(a3)
print (a1)
print (a2)
print (a3)
print (a4)

hobby
h,o,b,b,y
['h', 'o', 'b', 'b', 'y']
hobby

In [42]:
movie_rank=['닥터 스트레인지', '스플릿', '럭키']
movie_rank.append('베트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '베트맨']

In [44]:
movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '슈퍼맨', '스플릿', '럭키', '베트맨']

In [45]:
movie_rank.remove('럭키')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '슈퍼맨', '스플릿', '베트맨']

In [46]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [47]:
 lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs=lang1+lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [51]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [52]:
nums = [1, 2, 3, 4, 5]
mean= sum(nums)/len(nums)
print(mean)

3.0

In [53]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
del price[0]
print(price)

[100, 130, 140, 150, 160, 170]

In [54]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [55]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [56]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [62]:
interest = ['삼성전자', 'LG전자', 'Naver']
print("출력예시 : \n"+ interest[0], interest[2])

출력예시 :
삼성전자 Naver

In [63]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [66]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print ( "\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [68]:
string = "삼성전자/LG전자/Naver"
interst=string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [72]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [74]:
my_variabla=()

In [75]:
movie_rank =("닥터스트레인지","스플릿","럭키")

In [77]:
t=(1)
type(t)

int

In [78]:
t=(1,)
type(t)

tuple

In [82]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score,b= scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [84]:
temp={}
type(temp)

dict

In [89]:
grade={}
grade = {'pey': 10, 'julliet': 99}
print(grade['pey'])
grade.get('pey')
print('pey'in grade)

10
True

In [91]:
ice={'메로나':1000, '폴라포': 1200, '빵빠레': 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [92]:
ice['죠스바']=1200
ice['월드콘']=1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [95]:
print("메로나가격: ",ice['메로나'])

메로나가격:  1000

In [96]:
ice['메로나']=1300
print(ice)

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [97]:
del ice['메로나']
print(ice)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [98]:
inventory={'메로나':[300, 20],'비비빅':[400,3],'죠스바':[250,100] }
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [100]:
print(inventory['메로나'][1],'원')

20

In [101]:
inventory['월드콘']=[500,70]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 70]}

In [104]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice_key=list(icecream.keys())
print(ice_key)
ice_value=list(icecream.values())
print(ice_value)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']
[1200, 1200, 1800, 1500, 1000]

In [105]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [106]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result={keys:vals}
print(result)

{('apple', 'pear', 'peach'): (300, 250, 400)}